# 세계행복지수 데이터 로드

In [3]:
import pandas as pd 
import numpy as np
file_path='C:/pyy/pjt/'

In [11]:
whr=pd.read_csv(file_path+'world-happiness-report.csv')
whr.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

# 데이터 전처리

In [12]:
추가할 데이터들과 통일성을 부여해야함
국가이름 통일 

<추가할데이터>
1. 정신잘환 
2. 교육년수
3. 알콜섭취량
4. 자살률
5. 출생률
6. 비만률

각 데이터는 Code컬럼을 삭제하고 사용하려는 데이터값의 컬럼은 간소화시킨다
결측값은 전년도 값으로 채우기 위해 method='ffil'을 이용한다

SyntaxError: invalid syntax (<ipython-input-12-5e344c7e3c51>, line 1)

In [13]:
#positive affectm negative affect 컬럼 제거
whr=whr.drop(['Positive affect','Negative affect'],axis=1)
whr=whr.rename(columns={'Country name':'Country','year':'Year'})

#나라이름 통일
whr.Country.replace('Czech Republic','Czechia',inplace=True)
whr.Country.replace('Hong Kong S.A.R. of China','Hong Kong',inplace=True)
whr.Country.replace('Taiwan Province of China','Taiwan',inplace=True)
whr.Country.replace('Palestinian Territories','Palestine',inplace=True)
whr.Country.replace("Ivory Coast","Cote d'Ivoire",inplace=True)
whr.Country.replace('Swaziland','Eswatini',inplace=True)
whr=whr.set_index('Country')

#데이터양이 불충한 국가삭제
whr.drop(index=['Kosovo','North Cyprus','Somaliland region',\
            'Congo (Brazzaville)','Congo (Kinshasa)'],inplace=True)
whr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1906 entries, Afghanistan to Zimbabwe
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Year                              1906 non-null   int64
 1   Life Ladder                       1906 non-null   float64
 2   Log GDP per capita                1882 non-null   float64
 3   Social support                    1893 non-null   float64
 4   Healthy life expectancy at birth  1876 non-null   float64
 5   Freedom to make life choices      1875 non-null   float64
 6   Generosity                        1829 non-null   float64
 7   Perceptions of corruption         1797 non-null   float64
dtypes: float64(7), int64(1)
memory usage: 134.0+ KB

# 정신질환 데이터추가

In [19]:
#데이터로드
men=pd.read_csv(file_path+'mental-and-substance-use-as-share-of-disease.csv')
del men['Code']
men.rename\
    (columns={'Entity':'Country','DALYs (Disability-Adjusted Life Years) - Mental and substance use disorders - Sex: Both - Age: All Ages (Percent)':'Mental disorders'},inplace=True)
men.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           6468 non-null   object
 1   Year              6468 non-null   int64
 2   Mental disorders  6468 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 151.7+ KB

In [21]:
#세계행복지수데이터와 합치기
report1=pd.merge(whr,men,how='left',on=['Country','Year'])
#파일로 저장
report1.to_csv(file_path+'report1.csv') 
report1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906 entries, 0 to 1905
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           1906 non-null   object
 1   Year                              1906 non-null   int64
 2   Life Ladder                       1906 non-null   float64
 3   Log GDP per capita                1882 non-null   float64
 4   Social support                    1893 non-null   float64
 5   Healthy life expectancy at birth  1876 non-null   float64
 6   Freedom to make life choices      1875 non-null   float64
 7   Generosity                        1829 non-null   float64
 8   Perceptions of corruption         1797 non-null   float64
 9   Mental disorders                  1523 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 163.8+ KB

# 교육년수 데이터추가

In [22]:
scho=pd.read_csv(file_path+'mean-years-of-schooling-1.csv')
del scho['Code']
scho=\
    scho.rename(columns={'Entity':'Country','Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))':'schooling'})

In [23]:
#세계행복지수데이터와 합치기
report2=pd.merge(report1,scho,how='left',on=['Country','Year'])
#파일로 저장
report2.to_csv(file_path+'report2.csv') 
report2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906 entries, 0 to 1905
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           1906 non-null   object
 1   Year                              1906 non-null   int64
 2   Life Ladder                       1906 non-null   float64
 3   Log GDP per capita                1882 non-null   float64
 4   Social support                    1893 non-null   float64
 5   Healthy life expectancy at birth  1876 non-null   float64
 6   Freedom to make life choices      1875 non-null   float64
 7   Generosity                        1829 non-null   float64
 8   Perceptions of corruption         1797 non-null   float64
 9   Mental disorders                  1523 non-null   float64
 10  schooling                         1518 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 178.7+ KB

# 알콜섭취량 데이터추가

In [26]:
alc=pd.read_csv(file_path+'death-rates-from-alcohol-use-disorders (1).csv')
del alc['Code']
alc=\
    alc.rename(columns={'Entity':'Country','Deaths - Alcohol use disorders - Sex: Both - Age: Age-standardized (Rate)':'alcohol disorders'})

In [27]:
#세계행복지수데이터와 합치기
report3=pd.merge(report2,alc,how='left',on=['Country','Year'])
#파일로 저장
report3.to_csv(file_path+'report3.csv') 
report3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906 entries, 0 to 1905
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           1906 non-null   object
 1   Year                              1906 non-null   int64
 2   Life Ladder                       1906 non-null   float64
 3   Log GDP per capita                1882 non-null   float64
 4   Social support                    1893 non-null   float64
 5   Healthy life expectancy at birth  1876 non-null   float64
 6   Freedom to make life choices      1875 non-null   float64
 7   Generosity                        1829 non-null   float64
 8   Perceptions of corruption         1797 non-null   float64
 9   Mental disorders                  1523 non-null   float64
 10  schooling                         1518 non-null   float64
 11  alcohol disorders                 1523 non-null   float64
dtypes: float64(10), int64(1), object(1)
memory usage: 193.6+ KB

# 자살률 데이터 추가

In [29]:
sui=pd.read_csv(file_path+'share-deaths-suicide.csv')
del sui['Code']
sui.rename\
    (columns={'Entity':'Country','Deaths - Self-harm - Sex: Both - Age: All Ages (Percent)':'suicide rates'},inplace=True)

In [30]:
#세계행복지수데이터와 합치기
report4=pd.merge(report3,sui,how='left',on=['Country','Year'])
#파일로 저장
report4.to_csv(file_path+'report4.csv') 
report4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906 entries, 0 to 1905
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           1906 non-null   object
 1   Year                              1906 non-null   int64
 2   Life Ladder                       1906 non-null   float64
 3   Log GDP per capita                1882 non-null   float64
 4   Social support                    1893 non-null   float64
 5   Healthy life expectancy at birth  1876 non-null   float64
 6   Freedom to make life choices      1875 non-null   float64
 7   Generosity                        1829 non-null   float64
 8   Perceptions of corruption         1797 non-null   float64
 9   Mental disorders                  1523 non-null   float64
 10  schooling                         1518 non-null   float64
 11  alcohol disorders                 1523 non-null   float64
 12  suicide rates                     1523 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 208.5+ KB

# 출산률 데이터추가

In [31]:
br=pd.read_csv(file_path+'children-per-woman-UN.csv')
del br['Code']
br.rename\
    (columns={'Entity':'Country','Estimates, 1950 - 2020: Annually interpolated demographic indicators - Total fertility (live births per woman)':'Fertility'},inplace=True)

In [32]:
#세계행복지수데이터와 합치기
report5=pd.merge(report4,br,how='left',on=['Country','Year'])
#파일로 저장
report5.to_csv(file_path+'report5.csv') 
report5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906 entries, 0 to 1905
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           1906 non-null   object
 1   Year                              1906 non-null   int64
 2   Life Ladder                       1906 non-null   float64
 3   Log GDP per capita                1882 non-null   float64
 4   Social support                    1893 non-null   float64
 5   Healthy life expectancy at birth  1876 non-null   float64
 6   Freedom to make life choices      1875 non-null   float64
 7   Generosity                        1829 non-null   float64
 8   Perceptions of corruption         1797 non-null   float64
 9   Mental disorders                  1523 non-null   float64
 10  schooling                         1518 non-null   float64
 11  alcohol disorders                 1523 non-null   float64
 12  suicide rates                     1523 non-null   float64
 13  Fertility                         1906 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 223.4+ KB

# 비만율 데이터추가

In [33]:
obesity=pd.read_csv(file_path+'share-of-deaths-obesity.csv')
del obesity['Code']
obesity.rename(columns={'Entity':'Country','Obesity (IHME, 2019)':'Obesity'},inplace=True)

In [35]:
#세계행복지수데이터와 합치기
report6=pd.merge(report5,obesity,how='left',on=['Country','Year'])
#파일로 저장
report6.to_csv(file_path+'report6.csv') 
report6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906 entries, 0 to 1905
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           1906 non-null   object
 1   Year                              1906 non-null   int64
 2   Life Ladder                       1906 non-null   float64
 3   Log GDP per capita                1882 non-null   float64
 4   Social support                    1893 non-null   float64
 5   Healthy life expectancy at birth  1876 non-null   float64
 6   Freedom to make life choices      1875 non-null   float64
 7   Generosity                        1829 non-null   float64
 8   Perceptions of corruption         1797 non-null   float64
 9   Mental disorders                  1523 non-null   float64
 10  schooling                         1518 non-null   float64
 11  alcohol disorders                 1523 non-null   float64
 12  suicide rates                     1523 non-null   float64
 13  Fertility                         1906 non-null   float64
 14  Obesity                           1523 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 238.2+ KB

In [36]:
#결측값을 method='ffill'로 채우기
report6.fillna(method='ffill',inplace=True)
report6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906 entries, 0 to 1905
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           1906 non-null   object
 1   Year                              1906 non-null   int64
 2   Life Ladder                       1906 non-null   float64
 3   Log GDP per capita                1906 non-null   float64
 4   Social support                    1906 non-null   float64
 5   Healthy life expectancy at birth  1906 non-null   float64
 6   Freedom to make life choices      1906 non-null   float64
 7   Generosity                        1906 non-null   float64
 8   Perceptions of corruption         1906 non-null   float64
 9   Mental disorders                  1906 non-null   float64
 10  schooling                         1906 non-null   float64
 11  alcohol disorders                 1906 non-null   float64
 12  suicide rates                     1906 non-null   float64
 13  Fertility                         1906 non-null   float64
 14  Obesity                           1906 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 238.2+ KB