# 타이타닉호 데이터를 이용한 전처리 연습

In [1]:
import seaborn as sns 
df= sns.load_dataset('titanic')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [3]:
nan_deck = df['deck'].value_counts(dropna=False) #결측값을 포함한 해당 컬럼의 값 갯수 출력

In [4]:
nan_deck

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [8]:
df.isnull().sum(axis=0) #누락데이터의 갯수

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [9]:
#각 열의 결측값 개수 계산하기
missing_df = df.isnull()

In [10]:
for col in missing_df.columns:
    missing_counts = missing_df[col].value_counts()
    #missing_count[True] : missing_count 해당컬릠 True값의 건수
    try:
        print(col,':',missing_count[True])
    except: #missing_count[True]인 값이 없는 경우 예외
        print(col,':',0)

survived : 0
pclass : 0
sex : 0
age : 0
sibsp : 0
parch : 0
fare : 0
embarked : 0
class : 0
who : 0
adult_male : 0
deck : 0
embark_town : 0
alive : 0
alone : 0

In [11]:
df_thresh = df.dropna(axis=1, thresh=500) # 결측값이 500개 이상인 열을 모두 삭제 
print(df_thresh.columns)
print(df_thresh.info())

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB
None

In [14]:
df_age = df_thresh.dropna(subset=['age'], how = 'any',axis=0)
print(len(df_age))
print(df_age.info())

714
<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     714 non-null    int64
 1   pclass       714 non-null    int64
 2   sex          714 non-null    object
 3   age          714 non-null    float64
 4   sibsp        714 non-null    int64
 5   parch        714 non-null    int64
 6   fare         714 non-null    float64
 7   embarked     712 non-null    object
 8   class        714 non-null    category
 9   who          714 non-null    object
 10  adult_male   714 non-null    bool
 11  embark_town  712 non-null    object
 12  alive        714 non-null    object
 13  alone        714 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 69.2+ KB
None

In [15]:
#결측값 치환 
#df데이터 : age열의 결측값을 다른 나이 데이터의 평균으로 변경
#age열의 평균 계산
mean_age  = df['age'].mean(axis=0)
df['age'].fillna(mean_age, inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [16]:
#embark_town 컬럼의 결측값은 컬럼의 값 중 빈도수가 가장 많은 값으로 치환하기 
#embark_town 컬럼의 저장된 값들의 빈도수 출력하기 
most_freq=df['embark_town'].value_counts(dropna=False).idxmax()
print(most_freq)

Southampton

In [17]:
df['embark_town'].fillna(most_freq, inplace=True)
print(df.info())
df['embark_town'].value_counts(dropna=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  891 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

Southampton    646
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64