# 라이브러리 및 데이터

In [1]:
import pandas as pd 
import numpy as np
file_path='C:/kaggle/titanic/'

In [2]:
train=pd.read_csv(file_path+'train.csv')
test=pd.read_csv(file_path+'test.csv')
submission=pd.read_csv(file_path+'gender_submission.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
women=train[train.Sex=='female']['Survived'] # 여성의 생존자수 
women.head()

1    1
2    1
3    1
8    1
9    1
Name: Survived, dtype: int64

In [8]:
print('여성생존확률:',sum(women)/len(women))

여성생존확률: 0.7420382165605095

In [9]:
men=train[train.Sex=='male']['Survived'] # 남성의 생존자수 
men.head()

0    0
4    0
5    0
6    0
7    0
Name: Survived, dtype: int64

In [10]:
print('남성생존확률:',sum(men)/len(men))

남성생존확률: 0.18890814558058924

In [11]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# 변수선택 및 모델구축

In [13]:
#랜덤포레스트 사용
from sklearn.ensemble import RandomForestClassifier

y=train['Survived']

features=['Pclass','Sex','SibSp','Parch']
X=pd.get_dummies(train[features])
X_test=pd.get_dummies(test[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)