# folium, DBSCAN 예제

In [2]:
!pip install folium

Collecting folium
  Using cached folium-0.12.1-py2.py3-none-any.whl (94 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\k\anaconda3\lib\site-packages (from folium) (2.11.3)
Collecting branca>=0.3.0
  Using cached branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: numpy in c:\users\k\anaconda3\lib\site-packages (from folium) (1.19.5)
Requirement already satisfied: requests in c:\users\k\anaconda3\lib\site-packages (from folium) (2.25.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\k\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\k\anaconda3\lib\site-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\k\anaconda3\lib\site-packages (from requests->folium) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\k\anaconda3\lib\site-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\k\anaconda3\lib\site-packages (from requests->folium) (4.0.0)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1

In [3]:
import pandas as pd 
import folium

In [4]:
file_path='C:/pyy/2016_middle_shcool_graduates_report.xlsx'

In [6]:
df=pd.read_excel(file_path, engine='openpyxl',header=0)
pd.set_option('display.width',None) #출력화면의 너비
pd.set_option('display.max_rows',100) #출력할 행의 개수 한도
pd.set_option('display.max_columns',10) #출력할 열의 개수 한도
pd.set_option('display.max_colwidth',20) #출력할 열의 너비

In [7]:
#열의 이름 조회하기
df.columns.values

array(['지역', '학교명', '코드', '유형', '주야', '남학생수', '여학생수', '일반고', '특성화고',
       '과학고', '외고_국제고', '예고_체고', '마이스터고', '자사고', '자공고', '기타진학', '취업',
       '미상', '위도', '경도'], dtype=object)

In [8]:
df.head()

,지역,학교명,코드,유형,주야,...,기타진학,취업,미상,위도,경도
0,성북구,서울대학교사범대학부설중학교,3,국립,주간,...,0.004,0,0.000,37.594942,127.038909
1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,...,0.031,0,0.000,37.577473,127.003857
2,강남구,개원중학교,3,공립,주간,...,0.009,0,0.003,37.491637,127.071744
3,강남구,개포중학교,3,공립,주간,...,0.019,0,0.000,37.480439,127.062201
4,서초구,경원중학교,3,공립,주간,...,0.010,0,0.000,37.510750,127.008900

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      415 non-null    object
 1   학교명     415 non-null    object
 2   코드      415 non-null    int64
 3   유형      415 non-null    object
 4   주야      415 non-null    object
 5   남학생수    415 non-null    int64
 6   여학생수    415 non-null    int64
 7   일반고     415 non-null    float64
 8   특성화고    415 non-null    float64
 9   과학고     415 non-null    float64
 10  외고_국제고  415 non-null    float64
 11  예고_체고   415 non-null    float64
 12  마이스터고   415 non-null    float64
 13  자사고     415 non-null    float64
 14  자공고     415 non-null    float64
 15  기타진학    415 non-null    float64
 16  취업      415 non-null    int64
 17  미상      415 non-null    float64
 18  위도      415 non-null    float64
 19  경도      415 non-null    float64
dtypes: float64(12), int64(4), object(4)
memory usage: 65.0+ KB

In [18]:
#df데이터에서 각 중학교의 정보를 지도로 표시하기 
#지도에 위치 표시 
mschool_map=folium.Map(loaction=[37.55,126.98],zoom_start=12)

In [19]:
#중학교 위치정보를 CircleMarker로 표시
for name,lat,lng in zip(df.학교명, df.위도, df.경도):
    folium.CircleMarker([lat,lng],
                       radius=5, #원의반지름
                       color='brown', #원의둘레 색상
                       fill=True,
                       fill_color='coral', #원을 채우는 색
                       fill_opacity=0.7, #투명도
                       popup=name,
                       tooltip=name).add_to(mschool_map)
mschool_map.save('C:/pyy/seoul_mschool_location.html')

In [22]:
# 데이터 전처리
# 지역, 유형, 주야 컬럼을 원핫인코딩변환
df.head()

,지역,학교명,코드,유형,주야,...,기타진학,취업,미상,위도,경도
0,성북구,서울대학교사범대학부설중학교,3,국립,주간,...,0.004,0,0.000,37.594942,127.038909
1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,...,0.031,0,0.000,37.577473,127.003857
2,강남구,개원중학교,3,공립,주간,...,0.009,0,0.003,37.491637,127.071744
3,강남구,개포중학교,3,공립,주간,...,0.019,0,0.000,37.480439,127.062201
4,서초구,경원중학교,3,공립,주간,...,0.010,0,0.000,37.510750,127.008900

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      415 non-null    object
 1   학교명     415 non-null    object
 2   코드      415 non-null    int64
 3   유형      415 non-null    object
 4   주야      415 non-null    object
 5   남학생수    415 non-null    int64
 6   여학생수    415 non-null    int64
 7   일반고     415 non-null    float64
 8   특성화고    415 non-null    float64
 9   과학고     415 non-null    float64
 10  외고_국제고  415 non-null    float64
 11  예고_체고   415 non-null    float64
 12  마이스터고   415 non-null    float64
 13  자사고     415 non-null    float64
 14  자공고     415 non-null    float64
 15  기타진학    415 non-null    float64
 16  취업      415 non-null    int64
 17  미상      415 non-null    float64
 18  위도      415 non-null    float64
 19  경도      415 non-null    float64
dtypes: float64(12), int64(4), object(4)
memory usage: 65.0+ KB

In [25]:
df['코드'].unique()

array([3, 5, 9], dtype=int64)

In [26]:
from sklearn import preprocessing

In [27]:
#문자열 -> 수치형, 숫자의 크기정보는 의미없음. 단순하게 종류로 표시
label_encoder = preprocessing.LabelEncoder() # label encoder 생성
onehot_encoder = preprocessing.OneHotEncoder() # one hot encoder 생성

In [28]:
label_location = label_encoder.fit_transform(df['지역'])
label_code = label_encoder.fit_transform(df['코드'])
label_type = label_encoder.fit_transform(df['유형'])
label_day = label_encoder.fit_transform(df['주야'])

In [29]:
label_location

array([16, 22,  0,  0, 14,  0,  0,  0,  0,  0,  0,  0,  0, 14, 14, 14,  0,
       14, 14, 14, 14, 14,  0,  0,  0, 14, 14,  0, 14,  0,  0,  0, 14, 14,
        0, 14,  0,  0,  0,  0, 17, 17,  1, 17,  1,  1,  1,  1,  1, 17, 17,
       17, 17,  1, 17, 17,  1, 17,  1,  1, 17, 17,  1,  1, 17, 17, 17, 17,
       17, 17, 17, 17, 17, 17,  1,  1, 17, 17,  1,  1, 18,  3,  3,  3, 18,
        3,  3,  3,  3,  3,  3, 18, 18,  3,  3,  3, 18,  3,  3,  3, 18, 18,
       18, 18, 18,  3, 18, 18, 18, 18, 18, 18,  3, 18, 18,  3,  3,  7,  6,
        6,  6,  6,  6,  7, 19, 19, 19, 19,  7, 19,  7,  7,  7,  7,  6,  7,
       19, 19, 19, 19,  6,  6, 19,  6,  6,  6,  6, 19,  7, 10, 10, 10, 10,
       10, 24, 24, 24, 24, 10, 24, 10, 24, 24, 24, 24, 24, 10, 10, 10, 10,
       10, 24, 24, 10, 24, 24, 10, 10, 11, 11,  4,  4, 11,  4,  4,  4, 11,
        4, 11, 11, 11, 11,  4,  4,  4, 11, 11, 11,  4, 11,  4,  4,  4,  4,
       11,  4, 11, 11,  8,  8,  9,  8,  8,  8,  9,  9,  9,  9,  8,  8,  8,
        8,  8,  8,  9,  8,  9,  9,  8,  8,  8,  8,  8,  8,  9,  8,  8,  8,
        9,  9,  9,  8,  8,  8,  8, 12, 12, 21, 21, 21, 12, 13, 13, 21, 21,
       13, 12, 21, 21, 12, 12, 12, 12, 21, 12, 13, 12, 13, 21, 21, 21, 13,
       21, 21, 21, 13, 13, 13, 12, 13, 21, 21, 13, 13, 12,  5, 15,  5,  5,
        5,  5, 15,  5,  5, 15,  5, 15, 15, 15,  5, 15,  5,  5, 15, 15,  2,
       16, 16, 16, 16,  2, 16, 16,  2, 16, 16,  2,  2,  2,  2,  2, 16, 16,
        2, 16, 16,  2, 16, 16,  2, 22, 23, 23, 22, 22, 23, 22, 20, 22, 20,
       22, 20, 20, 11, 20, 20, 20, 20, 23, 23, 22, 23, 22, 20, 23, 23, 17,
        2,  8,  4, 15, 15, 16,  5,  3,  9, 12,  3, 21, 18,  2, 13, 17,  1,
        1, 21, 12,  6, 13, 16,  3, 16,  0, 17, 22, 12, 22,  3, 14,  0,  4,
        5,  8, 11,  2,  9,  4,  8,  2,  6,  6, 13,  0,  1,  1, 17,  2, 21,
       22, 16,  0,  7,  5, 23,  8])

In [30]:
label_type

array([1, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 0, 2, 0, 0, 0, 0,
       0, 2, 2, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       2, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0,
       2, 2, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       2, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 2, 2, 2, 0,
       0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2,
       2, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 2, 2, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 2, 2, 0, 2, 0, 2, 2, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0, 2, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2,
       0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 2,
       2, 2, 0, 0, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 0, 0, 0, 0, 2, 2, 2, 0,
       2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 0, 0, 2, 2, 0,
       0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 2, 0, 2, 2, 2, 2,
       0, 0, 0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 0, 0, 1, 1, 2, 2, 2])

In [31]:
df['지역'].unique()

array(['성북구', '종로구', '강남구', '서초구', '송파구', '강동구', '양천구', '강서구', '금천구',
       '구로구', '영등포구', '동대문구', '중랑구', '동작구', '관악구', '노원구', '도봉구', '마포구',
       '은평구', '서대문구', '광진구', '성동구', '강북구', '중구', '용산구'], dtype=object)

In [33]:
#label_encoder된 데이터를 df의 컬럼으로 추가
df['location']=label_location
df['code']=label_code
df['type']=label_type
df['day']=label_day
df.head()

,지역,학교명,코드,유형,주야,...,경도,location,code,type,day
0,성북구,서울대학교사범대학부설중학교,3,국립,주간,...,127.038909,16,0,1,0
1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,...,127.003857,22,0,1,0
2,강남구,개원중학교,3,공립,주간,...,127.071744,0,0,0,0
3,강남구,개포중학교,3,공립,주간,...,127.062201,0,0,0,0
4,서초구,경원중학교,3,공립,주간,...,127.008900,14,0,0,0

In [34]:
df['location'].unique

<bound method Series.unique of 0      16
1      22
2       0
3       0
4      14
       ..
410     0
411     7
412     5
413    23
414     8
Name: location, Length: 415, dtype: int32>

In [35]:
df['code'].unique

<bound method Series.unique of 0      0
1      0
2      0
3      0
4      0
      ..
410    2
411    2
412    2
413    2
414    2
Name: code, Length: 415, dtype: int64>

In [36]:
df['type'].unique

<bound method Series.unique of 0      1
1      1
2      0
3      0
4      0
      ..
410    1
411    1
412    2
413    2
414    2
Name: type, Length: 415, dtype: int32>

In [37]:
# DBSCAN 군집모형 - sklearn사용
# sklearn 라이브러리에서 cluster 군집모형 가져오기
from sklearn import cluster

In [39]:
#분석에 사용할 속성을 선택(과학고,외고국제고,자사고 진학률)
columns_list=[9,10,13]
X=df.iloc[:,columns_list] #군집분석에 사용될 속성 선택
print(X[:5])

     과학고  외고_국제고    자사고
0  0.018   0.007  0.227
1  0.000   0.035  0.043
2  0.009   0.012  0.090
3  0.013   0.013  0.065
4  0.007   0.010  0.282

In [40]:
#설명 변수 데이터를 정규화
X=preprocessing.StandardScaler().fit(X).transform(X)
print(X[:5])

[[ 2.02375287 -0.57972902  1.84751715]
 [-0.65047921  1.84782097 -0.48039958]
 [ 0.68663683 -0.14623795  0.11423133]
 [ 1.28091062 -0.05953974 -0.20206171]
 [ 0.38949993 -0.31963438  2.54336183]]

In [41]:
#DBSCAN 모형 객체 생성
#eps=0.2: 반지름값 설정
#min_samples=5: 클러스터의 포인트의 갯수가 최소 5개는 존재해야 클러스터로 인정
dbm=cluster.DBSCAN(eps=0.2, min_samples=5)

In [42]:
#모형학습
dbm.fit(X)
#에측(군집)
cluster_label=dbm.labels_
print(cluster_label)

[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1 -1 -1 -1  2 -1  0 -1
 -1 -1 -1 -1  0 -1 -1 -1 -1 -1  0  3 -1 -1 -1 -1 -1 -1 -1  0 -1 -1  1  0
 -1 -1 -1  0 -1 -1 -1 -1  0 -1  0  0 -1 -1  0 -1 -1 -1  0  0 -1 -1  0 -1
 -1 -1  0 -1 -1 -1  0  2  0  0  0  0  0 -1 -1 -1  0 -1  0 -1 -1  0 -1  0
 -1  0  0 -1 -1 -1 -1  1  0 -1  0  0 -1 -1 -1  0 -1 -1 -1 -1 -1  0  1 -1
 -1  0  2  0 -1 -1  1 -1 -1 -1  0  0  0 -1 -1  0 -1 -1 -1  0  0 -1 -1 -1
 -1  0 -1 -1 -1  0 -1 -1 -1  0 -1  0  0 -1 -1 -1 -1 -1  0 -1  0  0 -1 -1
 -1 -1 -1  0 -1 -1 -1  1  0  3  1 -1  0  0 -1  0 -1 -1  0  0  2 -1 -1  3
  0  0 -1 -1 -1 -1  0 -1  0  0 -1  0  0  0 -1 -1  0 -1 -1 -1 -1 -1  2  0
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1  0 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1  0  0 -1 -1  0 -1  3  0  2 -1 -1
 -1 -1  0 -1 -1 -1  0 -1  0  0 -1 -1 -1 -1 -1  1 -1  0  1 -1  0  0  1 -1
  2 -1  0 -1 -1 -1 -1  0 -1 -1  1  0 -1  0 -1 -1  0  3  0 -1 -1 -1  2 -1
 -1 -1 -1  0  0  0  1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1  0 -1  0 -1 -1  0  0
 -1 -1 -1  0 -1  0 -1 -1  0 -1 -1 -1  0  1 -1 -1 -1  0  1  1  1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1  0 -1  0
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  0]

In [43]:
#예측결과를 데이터프레임에 추가
df['Cluster']=cluster_label
df.head()

    지역               학교명  코드  유형  주야  ...  location  code  type  day  Cluster
0  성북구    서울대학교사범대학부설중학교   3  국립  주간  ...        16     0     1    0       -1
1  종로구  서울대학교사범대학부설여자중학교   3  국립  주간  ...        22     0     1    0       -1
2  강남구             개원중학교   3  공립  주간  ...         0     0     0    0       -1
3  강남구             개포중학교   3  공립  주간  ...         0     0     0    0       -1
4  서초구             경원중학교   3  공립  주간  ...        14     0     0    0       -1

[5 rows x 25 columns]

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지역        415 non-null    object
 1   학교명       415 non-null    object
 2   코드        415 non-null    int64
 3   유형        415 non-null    object
 4   주야        415 non-null    object
 5   남학생수      415 non-null    int64
 6   여학생수      415 non-null    int64
 7   일반고       415 non-null    float64
 8   특성화고      415 non-null    float64
 9   과학고       415 non-null    float64
 10  외고_국제고    415 non-null    float64
 11  예고_체고     415 non-null    float64
 12  마이스터고     415 non-null    float64
 13  자사고       415 non-null    float64
 14  자공고       415 non-null    float64
 15  기타진학      415 non-null    float64
 16  취업        415 non-null    int64
 17  미상        415 non-null    float64
 18  위도        415 non-null    float64
 19  경도        415 non-null    float64
 20  location  415 non-null    int32
 21  code      415 non-null    int64
 22  type      415 non-null    int32
 23  day       415 non-null    int32
 24  Cluster   415 non-null    int64
dtypes: float64(12), int32(3), int64(6), object(4)
memory usage: 76.3+ KB

In [45]:
df['Cluster'].unique() #4개의 클러스토 그룹화 
# -1 그룹: 어느 클러스터에도 속하지 못한 데이터. 노이즈 그룹(Noise)

array([-1,  0,  2,  3,  1], dtype=int64)

In [48]:
# 클러스터별로 그룹화하여 그룹별 내용 5개만 출력하기
# 조회되는 컬럼은 0,1,3,9,10,13만 조회
# cluster컬럼으로 그룹화
grouped=df.groupby('Cluster')
grouped

for key, group in grouped:
    print('* key:',key)
    print('* number:',len(group))
    print(group.iloc[:,[0,1,3,9,10,13]].head())
    print('\n')

* key: -1
* number: 255
    지역               학교명  유형    과학고  외고_국제고    자사고
0  성북구    서울대학교사범대학부설중학교  국립  0.018   0.007  0.227
1  종로구  서울대학교사범대학부설여자중학교  국립  0.000   0.035  0.043
2  강남구             개원중학교  공립  0.009   0.012  0.090
3  강남구             개포중학교  공립  0.013   0.013  0.065
4  서초구             경원중학교  공립  0.007   0.010  0.282


* key: 0
* number: 102
     지역      학교명  유형  과학고  외고_국제고    자사고
13  서초구  동덕여자중학교  사립  0.0   0.022  0.038
22  강남구    수서중학교  공립  0.0   0.019  0.044
28  서초구    언남중학교  공립  0.0   0.015  0.050
34  강남구    은성중학교  사립  0.0   0.016  0.065
43  송파구    거원중학교  공립  0.0   0.021  0.054


* key: 1
* number: 45
       지역      학교명  유형  과학고  외고_국제고    자사고
46    강동구    동신중학교  사립  0.0     0.0  0.044
103   양천구    신원중학교  공립  0.0     0.0  0.006
118   구로구    개봉중학교  공립  0.0     0.0  0.012
126  영등포구    대림중학교  공립  0.0     0.0  0.050
175   중랑구  혜원여자중학교  사립  0.0     0.0  0.004


* key: 2
* number: 8
      지역    학교명  유형    과학고  외고_국제고    자사고
20   서초구  서초중학교  공립  0.003   0.013  0.085
79   강동구  한영중학교  사립  0.004   0.011  0.077
122  구로구  구일중학교  공립  0.004   0.012  0.079
188  동작구  대방중학교  공립  0.003   0.015  0.076
214  도봉구  도봉중학교  공립  0.004   0.011  0.072


* key: 3
* number: 5
       지역    학교명  유형  과학고  외고_국제고    자사고
35    서초구  이수중학교  공립  0.0   0.004  0.100
177  동대문구  휘경중학교  공립  0.0   0.004  0.094
191   동작구  문창중학교  공립  0.0   0.004  0.084
259   마포구  성사중학교  공립  0.0   0.004  0.078
305   강북구  강북중학교  공립  0.0   0.004  0.088

In [52]:
#클러스터별로 지도의 색으로 표시하기
#그래프로 표현 - 시각화 
colors={-1:'grey',0:'coral',1:'blue',2:'green',3:'red',4:'purplr',5:'orange',6:'brown',
      7:'brick',8:'yellow',9:'magenta',10:'cyan',11:'tan'}
cluster_map=folium.Map(location=[37.55,126.98],zoom_start=12)

for name,lat,lng,clus in zip(df.학교명,df.위도,df.경도,df.Cluster):
    folium.CircleMarker([lat,lng],
                       radius=5,
                       color=colors[clus],
                       fill=True,
                       fill_color=colors[clus],
                       fill_opacity=0.7,
                       popup=name,
                       tooltip=name).add_to(cluster_map)
cluster_map.save('C:/pyy/seoul_mschool_cluster.html')    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지역        415 non-null    object
 1   학교명       415 non-null    object
 2   코드        415 non-null    int64
 3   유형        415 non-null    object
 4   주야        415 non-null    object
 5   남학생수      415 non-null    int64
 6   여학생수      415 non-null    int64
 7   일반고       415 non-null    float64
 8   특성화고      415 non-null    float64
 9   과학고       415 non-null    float64
 10  외고_국제고    415 non-null    float64
 11  예고_체고     415 non-null    float64
 12  마이스터고     415 non-null    float64
 13  자사고       415 non-null    float64
 14  자공고       415 non-null    float64
 15  기타진학      415 non-null    float64
 16  취업        415 non-null    int64
 17  미상        415 non-null    float64
 18  위도        415 non-null    float64
 19  경도        415 non-null    float64
 20  location  415 non-null    int32
 21  code      415 non-null    int64
 22  type      415 non-null    int32
 23  day       415 non-null    int32
 24  Cluster   415 non-null    int64
dtypes: float64(12), int32(3), int64(6), object(4)
memory usage: 76.3+ KB

In [55]:
# 설명변수 X2
# 과학고, 외고국제고, 자사고진학율+ 유형을 넣어서 클러스터 생성하기
# 클러스터별로 지도작성하기
columns_list2=[9,10,13,22]
X2=df.iloc[:,columns_list2] #설명변수
print(X2[:5])
#설명변수 정규화
X2=preprocessing.StandardScaler().fit(X2).transform(X2)
dbm2=cluster.DBSCAN(eps=0.2,min_samples=5)
dbm2.fit(X2)
df['Cluster2']=dbm2.labels_
grouped2_cols=[0,1,3]+columns_list2
grouped2_cols
df['Cluster2'].value_counts()

     과학고  외고_국제고    자사고  type
0  0.018   0.007  0.227     1
1  0.000   0.035  0.043     1
2  0.009   0.012  0.090     0
3  0.013   0.013  0.065     0
4  0.007   0.010  0.282     0

-1     281
 1      59
 5      18
 3      11
 0       8
 4       7
 2       6
 6       5
 7       5
 8       5
 9       5
 10      5
Name: Cluster2, dtype: int64

In [57]:
grouped2=df.groupby('Cluster2')
for key,group in grouped2:
    print('* key:',key)
    print('* number:',len(group))
    print(group.iloc[:,grouped2_cols].head())
    print('\n')

* key: -1
* number: 281
    지역               학교명  유형    과학고  외고_국제고    자사고  type
0  성북구    서울대학교사범대학부설중학교  국립  0.018   0.007  0.227     1
1  종로구  서울대학교사범대학부설여자중학교  국립  0.000   0.035  0.043     1
2  강남구             개원중학교  공립  0.009   0.012  0.090     0
3  강남구             개포중학교  공립  0.013   0.013  0.065     0
4  서초구             경원중학교  공립  0.007   0.010  0.282     0


* key: 0
* number: 8
      지역    학교명  유형  과학고  외고_국제고    자사고  type
22   강남구  수서중학교  공립  0.0   0.019  0.044     0
43   송파구  거원중학교  공립  0.0   0.021  0.054     0
51   송파구  방이중학교  공립  0.0   0.021  0.068     0
93   강서구  방원중학교  공립  0.0   0.019  0.057     0
164  중랑구  원묵중학교  공립  0.0   0.020  0.062     0


* key: 1
* number: 59
     지역    학교명  유형  과학고  외고_국제고    자사고  type
28  서초구  언남중학교  공립  0.0   0.015  0.050     0
47  강동구  둔촌중학교  공립  0.0   0.010  0.026     0
58  강동구  성내중학교  공립  0.0   0.013  0.026     0
62  강동구  신명중학교  공립  0.0   0.009  0.031     0
67  송파구  오금중학교  공립  0.0   0.015  0.072     0


* key: 2
* number: 6
       지역      학교명  유형  과학고  외고_국제고    자사고  type
46    강동구    동신중학교  사립  0.0     0.0  0.044     2
279  서대문구  중앙여자중학교  사립  0.0     0.0  0.036     2
282  서대문구    한성중학교  사립  0.0     0.0  0.042     2
349    중구    장충중학교  사립  0.0     0.0  0.038     2
354    중구    한양중학교  사립  0.0     0.0  0.034     2


* key: 3
* number: 11
      지역      학교명  유형  과학고  외고_국제고    자사고  type
103  양천구    신원중학교  공립  0.0     0.0  0.006     0
118  구로구    개봉중학교  공립  0.0     0.0  0.012     0
356  송파구  서울체육중학교  공립  0.0     0.0  0.000     0
391  광진구   서울광진학교  공립  0.0     0.0  0.000     0
396  관악구   서울정문학교  공립  0.0     0.0  0.000     0


* key: 4
* number: 7
      지역    학교명  유형    과학고  외고_국제고    자사고  type
20   서초구  서초중학교  공립  0.003   0.013  0.085     0
122  구로구  구일중학교  공립  0.004   0.012  0.079     0
188  동작구  대방중학교  공립  0.003   0.015  0.076     0
214  도봉구  도봉중학교  공립  0.004   0.011  0.072     0
261  마포구  성서중학교  공립  0.004   0.016  0.067     0


* key: 5
* number: 18
      지역      학교명  유형  과학고  외고_국제고    자사고  type
175  중랑구  혜원여자중학교  사립  0.0     0.0  0.004     2
387  강서구     교남학교  사립  0.0     0.0  0.000     2
388  서초구    다니엘학교  사립  0.0     0.0  0.000     2
389  강남구     밀알학교  사립  0.0     0.0  0.000     2
390  관악구     새롬학교  사립  0.0     0.0  0.000     2


* key: 6
* number: 5
       지역    학교명  유형  과학고  외고_국제고    자사고  type
126  영등포구  대림중학교  공립  0.0     0.0  0.050     0
178   동작구  강남중학교  공립  0.0     0.0  0.028     0
286   성동구  경수중학교  공립  0.0     0.0  0.043     0
298   성동구  성원중학교  공립  0.0     0.0  0.042     0
318   강북구  수유중학교  공립  0.0     0.0  0.052     0


* key: 7
* number: 5
       지역    학교명  유형  과학고  외고_국제고    자사고  type
35    서초구  이수중학교  공립  0.0   0.004  0.100     0
177  동대문구  휘경중학교  공립  0.0   0.004  0.094     0
191   동작구  문창중학교  공립  0.0   0.004  0.084     0
259   마포구  성사중학교  공립  0.0   0.004  0.078     0
305   강북구  강북중학교  공립  0.0   0.004  0.088     0


* key: 8
* number: 5
      지역        학교명  유형  과학고  외고_국제고    자사고  type
198  관악구  서울문영여자중학교  사립  0.0   0.021  0.014     2
316  강북구    성암여자중학교  사립  0.0   0.020  0.008     2
327  성북구    한성여자중학교  사립  0.0   0.022  0.011     2
334  종로구    덕성여자중학교  사립  0.0   0.023  0.023     2
414  노원구    한국삼육중학교  사립  0.0   0.024  0.010     2


* key: 9
* number: 5
      지역      학교명  유형  과학고  외고_국제고    자사고  type
66   송파구  영파여자중학교  사립  0.0   0.010  0.010     2
162  중랑구  영란여자중학교  사립  0.0   0.011  0.011     2
234  도봉구  정의여자중학교  사립  0.0   0.010  0.005     2
339  용산구  보성여자중학교  사립  0.0   0.007  0.013     2
344  용산구  신광여자중학교  사립  0.0   0.009  0.017     2


* key: 10
* number: 5
      지역        학교명  유형  과학고  외고_국제고  자사고  type
384  종로구      서울농학교  국립  0.0     0.0  0.0     1
385  마포구     한국우진학교  국립  0.0     0.0  0.0     1
386  종로구      서울맹학교  국립  0.0     0.0  0.0     1
410  강남구    국립국악중학교  국립  0.0     0.0  0.0     1
411  금천구  국립전통예술중학교  국립  0.0     0.0  0.0     1

In [58]:
cluster2_map=folium.Map(location=[37.55,126.98],zoom_start=12)

In [60]:
for name,lat,lng,clus in zip(df.학교명,df.위도,df.경도,df.Cluster2):
    folium.CircleMarker([lat,lng],
                       radius=5,
                       color=colors[clus],
                       fill=True,
                       fill_color=colors[clus],
                       fill_opacity=0.7,
                       popup=name,
                       tooltip=name).add_to(cluster2_map)

cluster2_map.save('C:/pyy/seoul_mschool_cluster2.html')