In [3]:
import numpy as np
import pandas as pd 
import tensorflow as tf
import glob as glob

In [ ]:
glob.glob: ./clothes/*/*.jpg
.: 현재폴더
clothes: 현재폴더 하위의 clothes폴더
*: clothes하위의 모든 폴더(파일)
*.jpg: 모든 jpg파일
recursive: 지정한 폴더의 하위폴더까지 검색설정

all_data: glob함수에서 전달된 jpg파일목록을 배열로 저장

In [8]:
all_data=np.array(glob.glob('C:/py/workspace/20210608/clothes/*/*.jpg',recursive=True))
all_data[:5]

array(['C:/py/workspace/20210608/clothes\\black_dress\\0097960878307e559459d98c9f9eaeeea0db1f94.jpg',
       'C:/py/workspace/20210608/clothes\\black_dress\\038098f911bf30451c109d19870668c39dcf0c11.jpg',
       'C:/py/workspace/20210608/clothes\\black_dress\\0522170fba54aa3e80914857c97ecea5cc091411.jpg',
       'C:/py/workspace/20210608/clothes\\black_dress\\0561718aec3cca983c7397d03204c20d641f02b9.jpg',
       'C:/py/workspace/20210608/clothes\\black_dress\\06130b80c92914dcccb56634594b4aeab7db5944.jpg'],
      dtype='<U90')

In [13]:
def check_cc(color,clothes):
    labels=np.zeros(11,) #[1,0,0,0,0,0,1,0,0,0,0]
    #color check
    if(color =='black'):
        labels[0]=1
        color_index=0
    elif (color =='blue'):
        labels[1]=1
        color_index=1
    elif (color =='brown'):
        labels[2]=1
        color_index=2
    elif (color =='green'):
        labels[3]=1
        color_index=3
    elif (color =='red'):
        labels[4]=1
        color_index=4
    elif (color =='white'):
        labels[5]=1
        color_index=5
    if (clothes =='dress'):
        labels[6]=1
    elif (clothes =='shirt'):
        labels[7]=1
    elif (clothes =='pants'):
        labels[8]=1
    elif (clothes =='shorts'):
        labels[9]=1
    elif (clothes =='shoes'):
        labels[10]=1
    return labels, color_index

In [14]:
all_data.shape #11385개
all_labels=np.empty((all_data.shape[0],11)) 
all_color_labels=np.empty((all_data.shape[0],1))

In [15]:
for i,data in enumerate(all_data):
    color_and_clothes=all_data[i].split('\\')[1].split('_')
    color=color_and_clothes[0] #black
    clothes=color_and_clothes[1] #dress
    labels, color_index=check_cc(color,clothes)
    all_labels[i]=labels;
    all_color_labels[i]=color_index

print(all_labels[:10])

[[1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]]

In [18]:
#훈련,테스트,검증 데이터로 분리
from sklearn.model_selection import train_test_split
#훈련데이터와 테스트 데이터분리
train_x,test_x,train_y,test_y = train_test_split(all_data, all_labels,shuffle=
                                                True,test_size=0.3, random_state=99)
#훈련데이터와 검증데이터 분리
train_x,val_x,train_y,val_y=train_test_split(train_x,train_y,shuffle=True,
                                            test_size=0.3,random_state=99)

print(train_x.shape)
print(val_x.shape)
print(test_x.shape)

(5578,)
(2391,)
(3416,)

In [21]:
train_df=pd.DataFrame({'image':train_x,'black':train_y[:,0],'blue':train_y[:,1],
                    'brown':train_y[:,2],'green':train_y[:,3],'red':train_y[:,4],
                    'white':train_y[:,5],'dress':train_y[:,6],'shirt':train_y[:,7],
                    'pants':train_y[:,8],'shortsk':train_y[:,9],'shoes':train_y[:,10]})

val_df=pd.DataFrame({'image':val_x,'black':val_y[:,0],'blue':val_y[:,1],
                    'brown':val_y[:,2],'green':val_y[:,3],'red':val_y[:,4],
                    'white':val_y[:,5],'dress':val_y[:,6],'shirt':val_y[:,7],
                    'pants':val_y[:,8],'shortsk':val_y[:,9],'shoes':val_y[:,10]})

test_df=pd.DataFrame({'image':test_x,'black':test_y[:,0],'blue':test_y[:,1],
                    'brown':test_y[:,2],'green':test_y[:,3],'red':test_y[:,4],
                    'white':test_y[:,5],'dress':test_y[:,6],'shirt':test_y[:,7],
                    'pants':test_y[:,8],'shortsk':test_y[:,9],'shoes':test_y[:,10]})

In [22]:
train_df.head()

,image,black,blue,brown,green,red,white,dress,shirt,pants,shortsk,shoes
0,C:/py/workspace/20210608/clothes\green_shoes\f...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,C:/py/workspace/20210608/clothes\brown_pants\8...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,C:/py/workspace/20210608/clothes\white_dress\e...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,C:/py/workspace/20210608/clothes\black_shoes\f...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,C:/py/workspace/20210608/clothes\blue_pants\b3...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [25]:
#csv파일로 저장 
train_df.to_csv('C:/pyy/train.csv',index=None)
test_df.to_csv('C:/pyy/test.csv',index=None)
val_df.to_csv('C:/pyy/val.csv',index=None)

df=pd.read_csv('C:/pyy/val.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2391 entries, 0 to 2390
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   image    2391 non-null   object
 1   black    2391 non-null   float64
 2   blue     2391 non-null   float64
 3   brown    2391 non-null   float64
 4   green    2391 non-null   float64
 5   red      2391 non-null   float64
 6   white    2391 non-null   float64
 7   dress    2391 non-null   float64
 8   shirt    2391 non-null   float64
 9   pants    2391 non-null   float64
 10  shortsk  2391 non-null   float64
 11  shoes    2391 non-null   float64
dtypes: float64(11), object(1)
memory usage: 224.3+ KB