In [ ]:
###groupby: 컬럼을 기준으로 그룹화

In [1]:
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')
df=titanic.loc[:,['age','sex','class','fare','survived']]
print(df.head())

#승객의 인원수 출력하기
print('승객의 인원수:', len(df))

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0
승객의 인원수: 891

In [3]:
#class 컬럼으로 분할, class컬럼의 값을 기준으로 분할되어 저장
grouped = df.groupby(['class'])
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021A20284820>

In [4]:
#key:class의 정보
#group:df의 데이터중 key에 해당하는 레코드 저장
for key, group in grouped:
    print('*key:',key)
    print('*number:',len(group))
print(group.head())

*key: First
*number: 216
*key: Second
*number: 184
*key: Third
*number: 491
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [5]:
#그룹별 평균 출력 
average = grouped.mean()
print(average)

              age       fare  survived
class
First   38.233441  84.154687  0.629630
Second  29.877630  20.662183  0.472826
Third   25.140620  13.675550  0.242363

In [6]:
#3등석의 정보만 조회하기
#get_group(key) : key해당하는 레코드를 리턴
group3=grouped.get_group('Third')
print(group3.head())

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [9]:
#class와 sex로 그룹화하기
group2=df.groupby(['class','sex'])
print(group2)

for key, group in group2:
    print('*key:',key)
    print('*number:',len(group))
print(group.head())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021A55013340>
*key: ('First', 'female')
*number: 94
*key: ('First', 'male')
*number: 122
*key: ('Second', 'female')
*number: 76
*key: ('Second', 'male')
*number: 108
*key: ('Third', 'female')
*number: 144
*key: ('Third', 'male')
*number: 347
     age   sex  class     fare  survived
0   22.0  male  Third   7.2500         0
4   35.0  male  Third   8.0500         0
5    NaN  male  Third   8.4583         0
7    2.0  male  Third  21.0750         0
12  20.0  male  Third   8.0500         0

In [11]:
#group2 그룹에서 3등석의 여자승객만 정보만 group3f에 저장하기
group3f = group2.get_group(('Third','female'))
print(group3f.head())

     age     sex  class     fare  survived
2   26.0  female  Third   7.9250         1
8   27.0  female  Third  11.1333         1
10   4.0  female  Third  16.7000         1
14  14.0  female  Third   7.8542         0
18  31.0  female  Third  18.0000         0

In [12]:
#class로 그룹화한 객체 grouped 데이터의 모든 열의 표준편차(std)출력하기
stdall = grouped.std()
print(stdall)

              age       fare  survived
class
First   14.802856  78.380373  0.484026
Second  14.001077  13.417399  0.500623
Third   12.495398  11.778142  0.428949

In [13]:
#클래스별 최고령과 최연소를 출력
maxage = grouped.max()
minage = grouped.min()
print(maxage)
print(minage)

         age   sex      fare  survived
class
First   80.0  male  512.3292         1
Second  70.0  male   73.5000         1
Third   74.0  male   69.5500         1
         age     sex  fare  survived
class
First   0.92  female   0.0         0
Second  0.67  female   0.0         0
Third   0.42  female   0.0         0

In [14]:
#여러개의 함수를 여러 열에 적용 : agg함수
#사용자 정의 함수
def max_min(x): # 최대값 - 최소값 
    return x.max()-x.min()

#각 그룹별 최대값 - 최소값의 차이를 그룹별로 출력 
agg_maxmin = grouped.agg(max_min)
print(agg_maxmin)

          age      fare  survived
class
First   79.08  512.3292         1
Second  69.33   73.5000         1
Third   73.58   69.5500         1

In [16]:
agg_max = grouped.agg(max)
print(agg_max)

         age   sex      fare  survived
class
First   80.0  male  512.3292         1
Second  70.0  male   73.5000         1
Third   74.0  male   69.5500         1

In [17]:
#모든 열에 min,max함수를 적용하여 결과 출력 
aggall = grouped.agg(['min','max'])
print(aggall)

         age           sex       fare           survived
         min   max     min   max  min       max      min max
class
First   0.92  80.0  female  male  0.0  512.3292        0   1
Second  0.67  70.0  female  male  0.0   73.5000        0   1
Third   0.42  74.0  female  male  0.0   69.5500        0   1

In [18]:
#각 열마다 다른 함수를 적용하여 집계
#요금: 최대값, 최소값
#나이: 평균 

aggsep = grouped.agg({'fare':['max','min'],'age':'mean'})
print(aggsep)

            fare             age
             max  min       mean
class
First   512.3292  0.0  38.233441
Second   73.5000  0.0  29.877630
Third    69.5500  0.0  25.140620

In [20]:
#filter함수: 그룹화 데이터의 조건 설정
#결과가 참인 경우만 저장됨
#그룹화된 데이터의 갯수가 200개 이상인 그룹만 조회하기
groupfilter1 = grouped.filter(lambda x:len(x)>=200)
print(groupfilter1.head())
print(type(groupfilter1))
print(groupfilter1.info())

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
Int64Index: 707 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       541 non-null    float64
 1   sex       707 non-null    object
 2   class     707 non-null    category
 3   fare      707 non-null    float64
 4   survived  707 non-null    int64
dtypes: category(1), float64(2), int64(1), object(1)
memory usage: 28.4+ KB
None

In [21]:
#age열의 평균이 30보다 작은그룹만을 데이터프레임으로 저장
agefilter = grouped.filter(lambda x:x.age.mean() <30)
print(agefilter.head())
print(agefilter.info())

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 675 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       528 non-null    float64
 1   sex       675 non-null    object
 2   class     675 non-null    category
 3   fare      675 non-null    float64
 4   survived  675 non-null    int64
dtypes: category(1), float64(2), int64(1), object(1)
memory usage: 27.2+ KB
None

In [22]:
#apply : 각 그룹별 용약 통계 정보 조회
group_apply = grouped.apply(lambda x:x.describe())
print(group_apply)

                     age        fare    survived
class
First  count  186.000000  216.000000  216.000000
       mean    38.233441   84.154687    0.629630
       std     14.802856   78.380373    0.484026
       min      0.920000    0.000000    0.000000
       25%     27.000000   30.923950    0.000000
       50%     37.000000   60.287500    1.000000
       75%     49.000000   93.500000    1.000000
       max     80.000000  512.329200    1.000000
Second count  173.000000  184.000000  184.000000
       mean    29.877630   20.662183    0.472826
       std     14.001077   13.417399    0.500623
       min      0.670000    0.000000    0.000000
       25%     23.000000   13.000000    0.000000
       50%     29.000000   14.250000    0.000000
       75%     36.000000   26.000000    1.000000
       max     70.000000   73.500000    1.000000
Third  count  355.000000  491.000000  491.000000
       mean    25.140620   13.675550    0.242363
       std     12.495398   11.778142    0.428949
       min      0.420000    0.000000    0.000000
       25%     18.000000    7.750000    0.000000
       50%     24.000000    8.050000    0.000000
       75%     32.000000   15.500000    0.000000
       max     74.000000   69.550000    1.000000

In [23]:
#클래스별, 성별 각 컬럼의 평균 구하기
group2 = df.groupby(['class','sex'])
gdf = group2.mean()
print(gdf)
print(type(gdf))

                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447
<class 'pandas.core.frame.DataFrame'>

In [26]:
#gdf데이터에서 class 값이 First인 행을 선택하여 출력 
print(gdf.loc['First'])
#gdf데이터에서 class값이 First이고, 성별 female인 행을 선택하여 출력 
print(gdf.loc[('First','female')])

              age        fare  survived
sex
female  34.611765  106.125798  0.968085
male    41.281386   67.226127  0.368852
age          34.611765
fare        106.125798
survived      0.968085
Name: (First, female), dtype: float64

In [27]:
#성별이 male인 행을 조회하기
print(gdf.xs('male',level = 'sex'))

              age       fare  survived
class
First   41.281386  67.226127  0.368852
Second  30.740707  19.741782  0.157407
Third   26.507589  12.661633  0.135447

In [28]:
#피벗테이블
import pandas as pd

In [30]:
pdf1 = pd.pivot_table(df,index = 'class', columns = 'sex',values = 'age',aggfunc='mean')
#피벗할 데이터프레임, 행위치에 들어갈열, 열 위치에 들어갈 열,데이터로 사용할 열
#데이터집계함수 순으로 작성
print(pdf1)
print(type(pdf1))

sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589
<class 'pandas.core.frame.DataFrame'>

In [31]:
#값에 적용하는 집계함수를 2개 이상 지정 
pdf2 = pd.pivot_table(df,index = 'class', columns = 'sex',values = 'survived',\
                      aggfunc=['mean','sum'])
print(pdf2)
print(type(pdf2))

            mean              sum
sex       female      male female male
class
First   0.968085  0.368852     91   45
Second  0.921053  0.157407     70   17
Third   0.500000  0.135447     72   47
<class 'pandas.core.frame.DataFrame'>

In [32]:
#피벗테이블에서 First 데이터만 조회하기
print(pdf2.loc['First'])
#xs함수 : axis =0 기본값 
print(pdf2.xs('First',axis=0))

      sex
mean  female     0.968085
      male       0.368852
sum   female    91.000000
      male      45.000000
Name: First, dtype: float64
      sex
mean  female     0.968085
      male       0.368852
sum   female    91.000000
      male      45.000000
Name: First, dtype: float64

In [33]:
#피벗테이블에서 female데이터만 조회하기 
print(pdf2.xs(('female'), level = 'sex', axis=1))
#피벗테이블에서 female의 평균 데이터만 조회하기
print(pdf2.xs(('mean','female'),axis=1))

            mean  sum
class
First   0.968085   91
Second  0.921053   70
Third   0.500000   72
class
First     0.968085
Second    0.921053
Third     0.500000
Name: (mean, female), dtype: float64